@{
    ViewData["Title"] = "Add Customer";
    @model Customer
}

<h1>Add Customer</h1>
<form asp-action="Create" asp-controller="Customer" method="post">
    <div class="form-group">
        <label asp-for="Name">Username</label>
    <br />
        <input asp-for="Name" required/>
    <br />
    <br />
        <label asp-for="Email">Email:</label>
    <br />
        <input type="email" asp-for="Email" required />
    <br />
    <br />
   
        <label asp-for="Age">Age</label>
    <br />
        <input asp-for="Age" required min="5" max="100" value="5" />
    <br />
    <br />
    
        <label asp-for="PhoneNumber">Phone Number</label>
    <br />
        <input type="text" asp-for="PhoneNumber" required pattern="^(70|71|73|77|78)[0-9]{7}" title="The phone number must start witn 73, 77, 71, 70,78 and the length must be 9 numbers" />
    <br />
    <br />
   
        <label asp-for="Password">Password</label>
    <br />
        <input asp-for="Password" required />
    <br />
    <br />
        
        <label asp-for="Password2">Password Again</label>
    <br />
        <input asp-for="Password2" required />
    <br />
    <br />
    <input type="submit" value="Add"/>
    <br />
    <br />
    <h5 class="text-danger">@ViewData["error"]</h5>
    <h5 style="color:green;">@ViewData["done"]</h5>
    <div/>

</form>
